{
    "vcenter_server": "{{ vcenter_hostname }}",
    "username": "{{ vcenter_username }}",
    "password": "{{ vcenter_password }}",
    "datacenter": "{{ vsphere_datacenter }}",
    "cluster": "{{ vsphere_cluster }}",
    "resource_pool": "{{ vsphere_resource_pool }}",
    "datastore": "{{ vsphere_datastore }}",
    "network": "{{ vsphere_network }}",
    "folder": "{{ vsphere_vm_folder }}",
    "kubernetes_semver": "{{ kubernetes_semver }}",
    "kubernetes_series": "{{ kubernetes_series }}",
    "build_version": "{{ build_version }}",
    "unattend_timezone": "{{ unattend_timezone }}",
    "windows_updates_categories": "{{ windows_updates_categories }}",
    "windows_updates_kbs": "{{ windows_updates_kbs }}",
    "os_iso_path": "[{{ vsphere_iso_datastore }}] {{ vsphere_datastore_dir_path }}/{{ windows_iso_file_name }}",
    "vmtools_iso_path": "[{{ vsphere_iso_datastore }}] {{ vsphere_datastore_dir_path }}/{{ vm_tools_iso_file_name }}",
    "kubernetes_base_url": "http://{{ control_plane_node_ip }}:{{ tkg_windows_resource_bundle_port }}/files/kubernetes/",
    "containerd_url": "http://{{ control_plane_node_ip }}:{{ tkg_windows_resource_bundle_port }}/{{ containerd_path }}",
    "containerd_sha256_windows": "{{ containerd_sha256 }}",
    "pause_image": "{{ pause_image }}",
    "additional_executables_destination_path": "C:\\ProgramData\\Temp",
    "additional_executables_list": "http://{{ control_plane_node_ip }}:{{ tkg_windows_resource_bundle_port }}/{{ antrea_windows_path }},http://{{ control_plane_node_ip }}:{{ tkg_windows_resource_bundle_port }}/{{ kubeproxy_path }}",
    "wins_url": "http://{{ control_plane_node_ip }}:{{ tkg_windows_resource_bundle_port }}/{{ wins_path }}",
    "cloudbase_init_url": "http://{{ control_plane_node_ip }}:{{ tkg_windows_resource_bundle_port }}/{{ cloudbase_init_path }}",
    "ansible_user_vars": "{{ ansible_user_vars }}",
    "disk_size": "{{ disk_size_mb }}",
    "additional_prepull_images": "{{ additional_prepull_images }}",
    "wins_version": "{{ wins_version }}",
    "goss_inspect_mode": "true",
    "runtime": "containerd",
    "template": "",
    "convert_to_template": "true",
    "linked_clone": "false",
    "insecure_connection": "true",
    "disable_hypervisor": "false",
    "create_snapshot": "false",
    "netbios_host_name_compatibility": "false",
    "prepull": "false",
    "additional_download_files": "",
    "additional_executables": "true",
    "load_additional_components": "true"
}